/* Sass Variables and Mixins */
.main-nav{
  background-color: $color-grey-dark-2;
  padding: 2rem 0;
  font-size: 1.5rem;
  color: $color-grey-dark;

  &__logo-box{
    text-align:center;
    margin: 0;
  }

  &__logo{
    width: 4rem;
    height: auto;
  }

  &__navigation{
    padding: 1rem;
    display: inline-block;
  }

  &__list{
    list-style: none;
  }

  &__item {
    display: inline-block;
    margin-right: 2rem;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-grey-light-1;
      background-color: $color-grey-dark-3;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all 0.2s;
      margin-right: 2rem;
    }

    &:hover,
    &:active {
      color: $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
      transform: rotate(5deg) scale(1.3);
    }
  }


}
